*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;

}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
::selection{
    background-color: #e70634 ;
    color: #080808;
}

/*  navigation start */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}
.navigation .menu-icon{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
   
}
.navigation .menu-icon .nav-icon{
    background-color: #ffffff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;

}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color: #ffffff; 
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;

}
.navigation .menu-icon .nav-icon::before{
    top: 8px;
}
.navigation .menu-icon .nav-icon::after{
    top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;

}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0px;
}
.menu-btn{
    display: none;

}

/* menu start */

.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 102;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;

}
.menu li a{
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Monoton;
    transition: all ease 0.3s;
}
.menu li a:hover{
    font-size: 2.3rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.navigation .menu-btn:checked ~ .menu{
    display: flex;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
/* logo start */

.logo{
    color: #e70634;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    font-family: monoton;
    letter-spacing: 1px;


}
.logo span{
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}
/* search-box   starting */
.search-box{
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
}
.search-box input::placeholder{
    color: #ffffff5e ;
}
.search-box button{
    background-color: transparent;
    color: #ffffffc9;
    border: none;
    outline: none;
    cursor: pointer;

}
    


.only video{
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin: 20px auto;
    width: 60%;
    
    height: 60%;

    border-radius: 20px;
    box-shadow: 5px 4px 15px  rgba(218, 126, 126, 0.6)

}
/* slider start */
#main-slider{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1170px;
    width: 100%;

}
.main-slider-box{
    
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 10px rgba(0,0,0.1);
    border: 1px solid #0e0e0ec2;
    /* hidden means img outside shadow hide */
    overflow: hidden;
    position: relative;
}
.main-slider-img{
    
    width: 100%;
    height: 100%;
}
.main-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-slider-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 35%, rgba(73,73,73,0.23) 64%)
    
    

}
.main-slider-text .quality{
    background-color: #e70634;
    color: #080808;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.main-slider-text .movie-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-slider-text .movie-name span{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240,240,240,0.82);



}
.main-slider-text .movie-name strong,
.main-slider-text .movie-name a{
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color: #dfdfdf;
    letter-spacing: 0.5px;

}
/* category style start */
.main-slider-text-category{
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;

}
.main-slider-text .category a{
    color: #e70634;
    margin: 0px 3px ;
}
/* rating start*/
.rating img{
    height: 10px;
    width: 20px;
    object-position: center;

}
.rating{
    font-size: 0.8rem;
    color: #ffffff;
    letter-spacing: 1px;
    padding-top: 5px;
    object-position: center; 


}
.main-slider-text .category-rating{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;

}
/* overlay effect in img olay shadow */

.main-slider-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    background-color: rgba(27,27,27,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: all ease 0.3s;
    z-index: 2;
   

}
.main-slider-overlay i{
    font-size: 2rem;
}
.main-slider-box:hover .main-slider-overlay{
    top: 0px;
    

}

/*  latest effect start */
#latest{
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;
}
.latest-heading{
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;

}
.latest-heading h1{
    color: #dadada;
    font-size: 1.3rem;
    font-weight: 500;
}

/* container start */

.post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 20px 0px;

}
.post-box{
    width: 100%;
    height: 100;
    overflow: hidden;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
    position: relative;

}
.post-box .post-img{
    width: 100%;
    height: 100%;


}
.post-box .post-img img{
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
    


}
.main-slider-text .movie-name a:hover{
    opacity: 0.5;
    transition: all ease 0.3s;


}

/* page number --start */
.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464646;
    margin-top: 50px;

}
.page-number a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0px 13px;
    opacity: 0.5;
    transition: all ease 0.3s;

}
.page-number .page-active,
.page-number a:hover{
    opacity: 1;
    transition: all ease 0.3s;

}
/* footer----  */
footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

}
footer .copyright{
    color: #4d4d4d;
    font-size: 0.9rem;
}
footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;

}


  



